# Cargo
/target
**/*.rs.bk

# Rust/Cargo specific files
**/*.rs.bk

# Intelij IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Other editor specific files
*.swp
*.swo
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Unix
*.lock
*.log
*.aux
*.out
*.toc
*.pyc
__pycache__/
